@model CustomerReportModelDto


@{
    ViewData["Title"] = "   تقييم العملاء ";
}

<form asp-area="Rent" asp-controller="CustomerReport" asp-action="Create" method="post">
    <div class="container-fluid">
        <div class="title">
            <h4>
                <span>  تقييم العملاء  </span>
            </h4>
        </div>
        <div class="box mb-3 p-3">
            <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">

                <div class="form-floating mb-2">
                    <select class="form-select select2" id="Evaluate" asp-for="CustomerReportRegisterDto.CustomerEvaluationId" asp-items="@(new SelectList(Model.CustomerReportRegisterDto.CustomerEvaluations,"Id","Name"))">
                        <option value="">اختر التقييم</option>
                    </select>
                    <label asp-for="CustomerReportRegisterDto.CustomerEvaluationId">التقييم</label>
                    <span asp-validation-for="CustomerReportRegisterDto.CustomerEvaluationId" class="text-danger"></span>
                </div>

                <div class="col">
                    <input type="submit" value="بحث" class="btn w-100 btn-primary">
                </div>
            </div>
        </div>
    </div>
</form>

<div id="_PartialCustomerReport">
    <partial name="_PartialCustomerReport.cshtml" model="Model.CustomerReportGetDtos" />
</div>


@*@section Scripts{
        <script type="text/javascript">

            function GetData() {
                var EvaluationId = $("#Evaluate").val();
                $("#_PartialCustomerReport").load("/Rent/CustomerReport/GetCustomers/" + EvaluationId);

            }

            //$("#Evaluate").change(function () {
            //    $this = $(this);
            //    alert($this.val());
            //    $("_PartialCustomerReport").load("/Rent/CustomerReport/GetCustomers/" +$this.val());
            //}


        </script>
    }*@



