@{
    ViewData["Title"] = "الرئيسية";
}


<section class="error">
    <div class="container-fluid p-0">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 align-items-center justify-content-center g-0 m-0">
            <div class="col error-box">
                <div class="bg-light align-items-center">
                    <div class="text-center pt-5 px-3">
                        <img src="~/assets/images/logo.jpg" style="width:535px;height:auto;" alt="logo" class="" />
                        <h1 class="fw-bold my-2">
                           اهلا بك فى برنامج تاجير السيارات.
                        </h1>
                    </div>
                    <div class="p-5">
                        <div class="form-floating mb-2 px-5">
                           @* <a asp-area="" asp-controller="Home" asp-action="Index" class="btn w-100 btn-primary">الرجوع للرئيسية</a>*@
                        </div>
                    </div>
                    <footer class="">
                        <div class="container-fluid">
                            <div class="text-center">
                                جميع الحقوق محفوظة لشركة TabibSoft 2023.
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="col error-img d-none d-sm-none d-md-block">
                <div></div>
            </div>
        </div>
    </div>
</section>


@*<div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-lg-4 mt-5">
        <div class="col">
            <a href="Owners/Car/Index">
                <div class="home-box">
                    <i class="bi bi-car-front-fill"></i>
                    <h3>السيارات</h3>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="owner-cars.html">
                <div class="home-box">
                    <i class="bi bi-people"></i>
                    <h3>الملاك</h3>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="owner-rent.html">
                <div class="home-box">
                    <i class="bi bi-ev-front"></i>
                    <h3>تأجير الملاك</h3>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="owner-statment.html">
                <div class="home-box">
                    <i class="bi bi-receipt"></i>
                    <h3>كشف حساب المالك</h3>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="expenses.html">
                <div class="home-box">
                    <i class="bi bi-cash-stack"></i>
                    <h3>المصروفات</h3>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/Rent/Customers/Index">
                <div class="home-box">
                    <i class="bi bi-people-fill"></i>
                    <h3>العملاء</h3>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="customer-rent.html">
                <div class="home-box">
                    <i class="bi bi-ev-front-fill"></i>
                    <h3>تأجير العملاء</h3>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="customer-statment.html">
                <div class="home-box">
                    <i class="bi bi-receipt-cutoff"></i>
                    <h3>كشف حساب العميل</h3>
                </div>
            </a>
        </div>
    </div>*@
