<!DOCTYPE html>

<html lang="ar" dir="rtl">
<head >
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- CSS Files -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/plugins/icons/font/bootstrap-icons.css" />
    <!-- Select2 -->
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css" />
    <!-- Uploader -->
    <link rel="stylesheet" href="~/assets/plugins/uploader/css/uploader.css" />
    <!-- dataTables -->
    <link rel="stylesheet"
          href="~/assets/plugins/datatables/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/datatables/buttons/buttons.dataTables.min.css" />
    <!-- Main Custome Style -->
    <link rel="stylesheet" href="~/assets/main/css/main.css" />



</head>
<body>

    @RenderBody()



    <!-- JS Files -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select2 -->
    <script type="text/javascript" src="~/assets/plugins/select2/js/select2.min.js"></script>

    <script type="text/javascript" src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select2 -->
    <script type="text/javascript" src="~/assets/plugins/select2/js/select2.min.js"></script>
    <!-- Uploader -->
    <script type="text/javascript" src="~/assets/plugins/uploader/js/uploader.js"></script>
    <!-- dataTables -->
    <script type="text/javascript" src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/datatables/checkboxes/dataTables.checkboxes.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/datatables/rowReorder/dataTables.rowReorder.min.js"></script>

    <!-- Not Used -->
    <script type="text/javascript" src="~/assets/plugins/datatables/select/dataTables.select.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/datatables/buttons/dataTables.buttons.min.js"></script>
    <!-- table buttons -->
    <script type="text/javascript" src="~/assets/plugins/datatables/buttons/buttons.flash.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/datatables/buttons/jszip.min.js"></script>
    <!-- excel -->
    <script type="text/javascript" src="~/assets/plugins/datatables/buttons/buttons.html5.min.js"></script>
    <!-- copy -->
    <script type="text/javascript" src="~/assets/plugins/datatables/buttons/buttons.print.min.js"></script>
    <!-- print -->
    <script type="text/javascript" src="~/assets/plugins/datatables/buttons/buttons.colVis.min.js"></script>
    <!-- pdfMake -->
    <script type="text/javascript" src="~/assets/plugins/pdfMake/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/pdfMake/vfs_fonts.js"></script>
    <!-- Main Custome Script -->
    <script type="text/javascript" src="~/assets/main/js/main.js"></script>


    @*validation*@

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
