@model StockMovementModelDto


@{
    ViewData["Title"] = "حركة الخزنة";
}

<form asp-area="Account" asp-controller="StockMovement" asp-action="Create" method="post">
    <div class="container-fluid">
        <div class="title">
            <h4>
                <span>حركة الخزنة </span>
            </h4>
        </div>
        <div class="box mb-3 p-3">
            <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
                <div class="col">
                    <div class="form-floating mb-2">
                        <select class="form-select select2" asp-for="StockMovementRegisterDto.StockId" id="" asp-items="@(new SelectList(Model.StockMovementRegisterDto.Stocks,"Id","name"))" aria-label="">
                            <option value="">اختر الخزنة </option>
                        </select>
                        <label asp-for="StockMovementRegisterDto.StockId">الخزنة</label>
                        <span asp-validation-for="StockMovementRegisterDto.StockId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-2">
                        <input type="date" asp-for="StockMovementRegisterDto.FromDate" class="form-control" id="" placeholder="" />
                        <label asp-for="StockMovementRegisterDto.FromDate">من تاريخ</label>
                        <span asp-validation-for="StockMovementRegisterDto.FromDate" class="text-danger"></span>

                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-2">
                        <input type="date" asp-for="StockMovementRegisterDto.ToDate" class="form-control" id="" placeholder="" />
                        <label asp-for="StockMovementRegisterDto.ToDate">إلى تاريخ</label>
                        <span asp-validation-for="StockMovementRegisterDto.ToDate" class="text-danger"></span>

                    </div>
                </div>
                <div class="col">
                    <input type="submit" value="بحث" class="btn w-100 btn-primary">
                </div>
            </div>
        </div>
    </div>
</form>

<div id="PartialStockMovement">
    <partial name="_PartialStockMovement.cshtml" model="Model.StockMovementGetDtos" />
</div>